# Ignore specific files
data/interim/cdl_apples_delta/
data/interim/cdl_apples_easternmountain/
data/interim/cdl_apples_greatlakes/
data/interim/cdl_apples_heartland/
data/interim/cdl_apples_mountain/
data/interim/cdl_apples_northeastern/
data/interim/cdl_apples_northernplains/
data/interim/cdl_apples_northwest/
data/interim/cdl_apples_pacific/
data/interim/cdl_apples_southern/
data/interim/cdl_apples_southernplains/
data/interim/cdl_apples_uppermidwest/
data/raw/CMIP6_train
data/raw/CMIP6_test_easternmountain.gz
data/raw/CMIP6_train_easternmountain.gz
data/raw/CMIP6_validate_easternmountain.gz
data/raw/cdl_apples_delta.TIF
data/raw/cdl_apples_easternmountain.TIF
data/raw/cdl_apples_greatlakes.TIF
data/raw/cdl_apples_heartland.TIF
data/raw/cdl_apples_mountain.TIF
data/raw/cdl_apples_northeastern.TIF
data/raw/cdl_apples_northernplains.TIF
data/raw/cdl_apples_northwest.TIF
data/raw/cdl_apples_pacific.TIF
data/raw/cdl_apples_southern.TIF
data/raw/cdl_apples_southernplains.TIF
data/raw/cdl_apples_uppermidwest.TIF
src/hidden.py